input.btn { 
} 

.jxtcnewspronext {
border: 1px solid #ebebeb;
background: #999999;
color: #ffffff;
padding-top: 3px;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
text-decoration: none;
}

